# <p style="color:green"> LISTS AND TUPLES ASSIGNMENT <p/>

1. >**Write a python program to create a tuple of numbers and print the sum of all the elements**

In [2]:
#lets create a tuple

tuple1=4,5,6,7,8,9
print(f' The sum of all the elements of the tuple is : {sum(tuple1)}')

 The sum of all the elements of the tuple is : 39

2. > **Write a python program to create a list of strings and sort them in alphabetical order.**

In [3]:
#lets create a list of strings

l=['s','a','k','i','v']
l.sort

print(l)
print(f'sorted in alphabetical order{sorted(l,reverse=True)}')

['s', 'a', 'k', 'i', 'v']
sorted in alphabetical order['v', 's', 'k', 'i', 'a']

3. >**Write a python program to find the maximum and minimum value in a tuple of numbers.**

In [4]:
tupl=(7,9,6,3,4,12,23,8,36)

print(f'The maximum number of the tuple is:{max(tupl)}\nThe minimum number of the tuple is:{min(tupl)}')

The maximum number of the tuple is:36
The minimum number of the tuple is:3

4. >**Write a python program to create a list of number and print only even numbers**.

In [5]:
#lets create a list of numbers

list1=(1,2,3,4,5,6,7,8)
print(f'The Even numbers of the list1 are:{list1[1:8:2]}')

list2=(1,2,3,4,5,6,7,8,9,10)
print(f'The odd numbers of the list2 are:{list2[0:10:2]}')

The Even numbers of the list1 are:(2, 4, 6, 8)
The odd numbers of the list2 are:(1, 3, 5, 7, 9)

5. >**Write a python program to create a tuple of mixed data types and print the type of each element of the tuple.**

In [6]:
#lets create a mixed datatype tuple

tupl=(True,6.8,4,10,'vikas',7)
print(f'The data type of the given element is:{type(tupl[3])}')
print(f'The data type of the given element is:{type(tupl[1])}')
print(f'The data type of the given element is:{type(tupl[4])}')
print(f'The data type of the given element is:{type(tupl[0])}')

The data type of the given element is:<class 'int'>
The data type of the given element is:<class 'float'>
The data type of the given element is:<class 'str'>
The data type of the given element is:<class 'bool'>

6. >**Write a python program to remove duplicates from list.**

In [7]:
#lets create a list

list1=[1,2,3,4,5,5,7.6,5,7.6]
my_list=set(list1)

print(f'To remove the duplicate numbers of the list:{my_list}')

To remove the duplicate numbers of the list:{1, 2, 3, 4, 5, 7.6}

7. >**Write a python program to reverse a tuple.**

In [8]:
#lets create a tuple

tupl=(1,2,3,4,5,6,7,8,9,10)
print(f'To reverse the tuple:{sorted(tupl,reverse=True)}')

To reverse the tuple:[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

8. >**Write a python program to find the second largest number in the list.**

In [9]:
#lets create a list 
list1=[9,7,0,6,8,2,1]
print(f'To find the second largest number in the list:{list1.pop(4)}')

To find the second largest number in the list:8

9. >_**Write a python program to create a list of tuple and sort them based on the second element in each tuple.**_

In [10]:
#lets create a list of tuple

list2=[(1,'KGF'),(2,'RRR'),(3,'Bahubali'),(4,'pushpa'),(5,'Major')]

print(f'sorted using second element in each tuple:{(sorted(list2,key=lambda x:x[1]))}')

sorted using second element in each tuple:[(3, 'Bahubali'), (1, 'KGF'), (5, 'Major'), (2, 'RRR'), (4, 'pushpa')]

10. >_**Write a python program to convert a tuple to a list and vice versa.**_

In [11]:
#lets create a tuple
tuple_1=(1,2,3,4,5,6)
print(f'Converting a tuple into list:{list(tuple_1)}')

#lets create a list
list_1=[9,8,7,6,5,4]
print(f'Converting a list into tuple:{tuple(list_1)}')

Converting a tuple into list:[1, 2, 3, 4, 5, 6]
Converting a list into tuple:(9, 8, 7, 6, 5, 4)